.student-sidedrawer {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    z-index: 9;
    display: inline-block; 
   /*  background-color: #252933;  */
    background-color: rgb(25, 28, 41);
    width: 20%;
    min-height: 92vh;
}

.student-sidedrawer h3 {
    color: #fff;
    text-align: center;
    padding: 1rem;
    border-bottom: 3px solid #313644;
}

.main-list-container-student {
    margin-top: 0;
    display: flex;
    flex-direction: column;
    padding: 0;
    width: 100%;
    list-style: none;

}

.main-lists-student {
    color: white;
    cursor: pointer;
    padding: 1rem;
    width: 100%;
    display: block;
    margin-bottom: .5rem;
    transition: all .2s;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;

}

.main-lists-student:hover {
    background-color: rgb(28, 39, 59); 
}

/* @media(max-width: 751px) {
    .teacher-sidedrawer {
        background: none;
        width: 100%;
        height: auto;
       
    }
    .teacher-sidedrawer ul {
        display: flex;
       flex-direction: row;
       align-items: flex-start;
    }

    .teacher-sidedrawer ul li {
        margin-right: 5px;
        font-size: 17px;
    }
} */

.teacher-icons {
    width: 25px
}

